.div109 {
  position: absolute;
  top: 0;
  left: 373px;
  font-weight: 600;
}
.div108,
.div110 {
  position: absolute;
  width: 1280px;
}
.div110 {
  top: 98px;
  left: calc(50% - 640px);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  text-align: justify;
  display: inline-block;
}
.div108 {
  top: 210px;
  left: 320px;
  height: 185px;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray-100);
}
.child20 {
  position: absolute;
  top: 0;
  left: 0;
  width: 360px;
  height: 220px;
  object-fit: cover;
}
.p34 {
  margin: 0;
}
.div113,
.div114 {
  position: absolute;
  left: 456px;
}
.div113 {
  top: 41px;
  font-weight: 500;
}
.div114 {
  top: 149px;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
}
.div111,
.div112,
.div115,
.div118,
.div121,
.div124 {
  position: absolute;
  left: 0;
  width: 1195px;
  height: 220px;
}
.div112 {
  top: 0;
  cursor: pointer;
}
.div111,
.div115,
.div118,
.div121,
.div124 {
  top: 250px;
}
.div111,
.div118,
.div121,
.div124 {
  top: 500px;
}
.div111,
.div121,
.div124 {
  top: 750px;
}
.div111,
.div124 {
  top: 1000px;
}
.div111 {
  top: 495px;
  left: 320px;
  height: 1220px;
  font-size: var(--font-size-13xl);
  color: var(--color-darkslategray-100);
}
.child25 {
  top: 0;
  left: calc(50% - 125px);
  border-radius: var(--br-8xs);
  background-color: var(--color-red);
  width: 250px;
  height: 60px;
}
.child25,
.div127,
.div128 {
  position: absolute;
}
.div128 {
  top: 18px;
  left: calc(50% - 86px);
  font-weight: 500;
}
.div127 {
  top: 1806px;
  left: calc(50% - 125px);
  width: 250px;
  height: 60px;
}
.child26 {
  top: -1px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  border-top: 2px solid var(--color-red);
  box-sizing: border-box;
  width: 1920px;
  height: 301px;
}
.child26,
.div130,
.div131 {
  position: absolute;
}
.div130 {
  top: 0;
  left: 0;
  font-weight: 500;
}
.div131 {
  left: 167px;
}
.div131,
.div132,
.div133 {
  top: 0;
  font-weight: 500;
}
.div132 {
  position: absolute;
  left: 404px;
}
.div133 {
  left: 643px;
}
.div133,
.fill3,
.parent1 {
  position: absolute;
}
.parent1 {
  top: 58px;
  left: 580px;
  width: 759px;
  height: 29px;
  display: none;
}
.fill3 {
  height: 102%;
  width: 100.4%;
  top: -1%;
  right: -0.2%;
  bottom: -1%;
  left: -0.2%;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--color-navy);
  box-sizing: border-box;
}
.arrows-down-top-move-1-icon3,
.fill-icon3 {
  position: absolute;
  height: 100%;
  width: 20.16%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrows-down-top-move-1-icon3 {
  height: 26%;
  width: 6.16%;
  top: 38%;
  right: 6.74%;
  bottom: 36%;
  left: 87.1%;
}
.label3 {
  position: absolute;
  top: 36%;
  left: 6.05%;
  opacity: 0.65;
}
.fill-parent1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.fill-parent1,
.product3,
.text-field3 {
  position: absolute;
  left: 0;
}
.text-field3 {
  height: 53.76%;
  width: 100%;
  top: 46.24%;
  right: 0;
  bottom: 0;
}
.product3 {
  top: 0;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--white);
}
.div134 {
  position: absolute;
  height: 39.57%;
  width: 19.2%;
  top: 3.83%;
  right: 0.08%;
  bottom: 56.6%;
  left: 80.73%;
  color: var(--dark);
}
.employee-database15,
.employee-database16 {
  position: absolute;
  top: 0;
  left: 41.19%;
  opacity: 0.65;
  cursor: pointer;
}
.employee-database16 {
  left: 77.84%;
}
.employee-database17,
.employee-database18,
.employee-database19 {
  position: absolute;
  top: 76.83%;
  left: 41.19%;
  opacity: 0.65;
  cursor: pointer;
}
.employee-database18,
.employee-database19 {
  top: 0;
  left: 0;
}
.employee-database19 {
  top: 76.83%;
}
.div135 {
  position: absolute;
  height: 34.89%;
  width: 44.35%;
  top: 8.51%;
  right: 29.49%;
  bottom: 56.6%;
  left: 26.16%;
  font-size: var(--font-size-base);
}
.div137,
.supportpersonalcom3 {
  position: absolute;
  left: 0;
  line-height: 32px;
}
.div137 {
  top: 0;
  font-weight: 500;
}
.supportpersonalcom3 {
  top: 56.76%;
}
.div136 {
  position: absolute;
  height: 31.49%;
  width: 12.15%;
  top: 31.91%;
  right: 87%;
  bottom: 36.6%;
  left: 0.85%;
  font-size: var(--font-size-base);
}
.divider3 {
  position: absolute;
  height: 3.03%;
  top: -0.76%;
  bottom: 97.73%;
  left: calc(50% - 641px);
  background-color: var(--white);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 1281px;
  opacity: 0.2;
}
.pricing3 {
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-wrapper1 {
  position: absolute;
  height: 48.57%;
  width: 28.1%;
  top: 28.57%;
  right: 0;
  bottom: 22.86%;
  left: 71.9%;
}
.social-links-icon3 {
  position: absolute;
  top: -0.75px;
  left: -0.75px;
  width: 136.5px;
  height: 36.5px;
}
.content-under-divider3 {
  position: absolute;
  height: 53.03%;
  width: 100%;
  top: 46.97%;
  right: 0;
  bottom: 0;
  left: 0;
}
.div138 {
  position: absolute;
  height: 28.09%;
  top: 71.91%;
  bottom: 0;
  left: calc(50% - 635px);
  width: 1281px;
}
.mask-group-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.div139,
.div140 {
  position: absolute;
}
.div140 {
  top: 17px;
  left: 74px;
  font-weight: 800;
}
.div139 {
  top: 0;
  left: 0;
  width: 208px;
  height: 60px;
  font-size: var(--font-size-xl);
  font-family: var(--font-mulish);
}
.footer-ui3 {
  position: absolute;
  height: 78.33%;
  width: 67.29%;
  top: 11.67%;
  right: 16.61%;
  bottom: 10%;
  left: 16.09%;
  text-align: left;
  font-size: var(--font-size-sm);
}
.child27,
.div129 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.div129 {
  top: 2000px;
  height: 300px;
  text-align: justify;
  font-size: var(--font-size-5xl);
}
.child27 {
  top: 0;
  background-color: var(--color-red);
  height: 60px;
}
.div142,
.div143 {
  position: absolute;
  top: calc(50% - 9px);
  left: 320px;
  font-weight: 500;
}
.div143 {
  left: 1286px;
  font-weight: 600;
}
.div141 {
  width: 1920px;
  height: 60px;
  font-size: var(--font-size-sm);
}
.child28,
.div141,
.div146 {
  position: absolute;
  top: 0;
  left: 0;
}
.child28 {
  background-color: var(--color-darkslategray-100);
  width: 1920px;
  height: 100px;
}
.div146 {
  width: 208px;
  height: 60px;
  cursor: pointer;
  font-family: var(--font-mulish);
}
.div148,
.div149,
.div150,
.div151,
.div152 {
  position: absolute;
  top: calc(50% - 12px);
  left: 314px;
  font-weight: 500;
  cursor: pointer;
}
.div149,
.div150,
.div151,
.div152 {
  left: 476px;
}
.div150,
.div151,
.div152 {
  left: 696px;
}
.div151,
.div152 {
  left: 918px;
}
.div152 {
  left: 1185px;
}
.div144,
.div145 {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 1282px;
  height: 60px;
}
.div144 {
  top: 60px;
  left: 0;
  width: 1920px;
  height: 100px;
}
.div107 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 2300px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--white);
  font-family: var(--font-inter);
}
