.div289,
.div290 {
  position: absolute;
}
.div289 {
  top: 0;
  left: 368px;
  font-weight: 600;
}
.div290 {
  top: 98px;
  left: calc(50% - 465.5px);
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-200);
  display: inline-block;
  width: 931px;
}
.child65,
.child66 {
  position: absolute;
  border-radius: var(--br-8xs);
}
.child65 {
  top: 0;
  left: calc(50% - 150px);
  background-color: var(--color-gainsboro-100);
  width: 300px;
  height: 60px;
}
.child66 {
  top: 12px;
  left: 12px;
  background-color: var(--color-gray-100);
  width: 35px;
  height: 35px;
}
.material-symbolsdownload-icon {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 28px;
  height: 28px;
  overflow: hidden;
}
.div293 {
  position: absolute;
  top: calc(50% - 9px);
  left: 67px;
  text-decoration: underline;
}
.div292 {
  top: 0;
  left: calc(50% - 150px);
  width: 300px;
  height: 60px;
}
.div288,
.div291,
.div292 {
  position: absolute;
}
.div291 {
  top: 204px;
  left: calc(50% - 150.5px);
  width: 300px;
  height: 60px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.div288 {
  top: 210px;
  left: 495px;
  width: 931px;
  height: 264px;
  text-align: center;
  color: var(--color-darkslategray-100);
}
.child67 {
  top: -1px;
  left: 0;
  background-color: var(--color-darkslategray-100);
  border-top: 2px solid var(--color-red);
  box-sizing: border-box;
  width: 1920px;
  height: 301px;
}
.child67,
.div295,
.div296 {
  position: absolute;
}
.div295 {
  top: 0;
  left: 0;
  font-weight: 500;
}
.div296 {
  left: 167px;
}
.div296,
.div297,
.div298 {
  top: 0;
  font-weight: 500;
}
.div297 {
  position: absolute;
  left: 404px;
}
.div298 {
  left: 643px;
}
.div298,
.fill5,
.parent3 {
  position: absolute;
}
.parent3 {
  top: 58px;
  left: 580px;
  width: 759px;
  height: 29px;
  display: none;
}
.fill5 {
  height: 102%;
  width: 100.4%;
  top: -1%;
  right: -0.2%;
  bottom: -1%;
  left: -0.2%;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--color-navy);
  box-sizing: border-box;
}
.arrows-down-top-move-1-icon5,
.fill-icon5 {
  position: absolute;
  height: 100%;
  width: 20.16%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 79.84%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrows-down-top-move-1-icon5 {
  height: 26%;
  width: 6.16%;
  top: 38%;
  right: 6.74%;
  bottom: 36%;
  left: 87.1%;
}
.label5 {
  position: absolute;
  top: 36%;
  left: 6.05%;
  opacity: 0.65;
}
.fill-parent3 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.fill-parent3,
.product5,
.text-field5 {
  position: absolute;
  left: 0;
}
.text-field5 {
  height: 53.76%;
  width: 100%;
  top: 46.24%;
  right: 0;
  bottom: 0;
}
.product5 {
  top: 0;
  font-size: var(--font-size-lg);
  line-height: 28px;
  color: var(--white);
}
.div299 {
  position: absolute;
  height: 39.57%;
  width: 19.2%;
  top: 3.83%;
  right: 0.08%;
  bottom: 56.6%;
  left: 80.73%;
  color: var(--dark);
}
.employee-database25,
.employee-database26 {
  position: absolute;
  top: 0;
  left: 41.19%;
  opacity: 0.65;
  cursor: pointer;
}
.employee-database26 {
  left: 77.84%;
}
.employee-database27,
.employee-database28,
.employee-database29 {
  position: absolute;
  top: 76.83%;
  left: 41.19%;
  opacity: 0.65;
  cursor: pointer;
}
.employee-database28,
.employee-database29 {
  top: 0;
  left: 0;
}
.employee-database29 {
  top: 76.83%;
}
.div300 {
  position: absolute;
  height: 34.89%;
  width: 44.35%;
  top: 8.51%;
  right: 29.49%;
  bottom: 56.6%;
  left: 26.16%;
  font-size: var(--font-size-base);
}
.div302,
.supportpersonalcom5 {
  position: absolute;
  left: 0;
  line-height: 32px;
}
.div302 {
  top: 0;
  font-weight: 500;
}
.supportpersonalcom5 {
  top: 56.76%;
}
.div301 {
  position: absolute;
  height: 31.49%;
  width: 12.15%;
  top: 31.91%;
  right: 87%;
  bottom: 36.6%;
  left: 0.85%;
  font-size: var(--font-size-base);
}
.divider5 {
  position: absolute;
  height: 3.03%;
  top: -0.76%;
  bottom: 97.73%;
  left: calc(50% - 641px);
  background-color: var(--white);
  border: 1px solid var(--white);
  box-sizing: border-box;
  width: 1281px;
  opacity: 0.2;
}
.pricing5 {
  position: absolute;
  top: 0;
  left: 0;
}
.pricing-wrapper3 {
  position: absolute;
  height: 48.57%;
  width: 28.1%;
  top: 28.57%;
  right: 0;
  bottom: 22.86%;
  left: 71.9%;
}
.social-links-icon5 {
  position: absolute;
  top: -0.75px;
  left: -0.75px;
  width: 136.5px;
  height: 36.5px;
}
.content-under-divider5 {
  position: absolute;
  height: 53.03%;
  width: 100%;
  top: 46.97%;
  right: 0;
  bottom: 0;
  left: 0;
}
.div303 {
  position: absolute;
  height: 28.09%;
  top: 71.91%;
  bottom: 0;
  left: calc(50% - 635px);
  width: 1281px;
}
.mask-group-icon10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  object-fit: cover;
}
.div304,
.div305 {
  position: absolute;
}
.div305 {
  top: 17px;
  left: 74px;
  font-weight: 800;
}
.div304 {
  top: 0;
  left: 0;
  width: 208px;
  height: 60px;
  font-size: var(--font-size-xl);
  font-family: var(--font-mulish);
}
.footer-ui5 {
  position: absolute;
  height: 78.33%;
  width: 67.29%;
  top: 11.67%;
  right: 16.61%;
  bottom: 10%;
  left: 16.09%;
  text-align: left;
  font-size: var(--font-size-sm);
}
.child68,
.div294 {
  position: absolute;
  left: 0;
  width: 1920px;
}
.div294 {
  top: 800px;
  height: 300px;
  text-align: justify;
  font-size: var(--font-size-5xl);
}
.child68 {
  top: 0;
  background-color: var(--color-red);
  height: 60px;
}
.div307,
.div308 {
  position: absolute;
  top: calc(50% - 9px);
  left: 320px;
  font-weight: 500;
}
.div308 {
  left: 1286px;
  font-weight: 600;
}
.div306 {
  width: 1920px;
  height: 60px;
  font-size: var(--font-size-sm);
}
.child69,
.div306,
.div311 {
  position: absolute;
  top: 0;
  left: 0;
}
.child69 {
  background-color: var(--color-darkslategray-100);
  width: 1920px;
  height: 100px;
}
.div311 {
  width: 208px;
  height: 60px;
  cursor: pointer;
  font-family: var(--font-mulish);
}
.div313,
.div314,
.div315,
.div316,
.div317 {
  position: absolute;
  top: calc(50% - 12px);
  left: 314px;
  font-weight: 500;
  cursor: pointer;
}
.div314,
.div315,
.div316,
.div317 {
  left: 476px;
}
.div315,
.div316,
.div317 {
  left: 696px;
}
.div316,
.div317 {
  left: 918px;
}
.div317 {
  left: 1185px;
}
.div309,
.div310 {
  position: absolute;
  top: 20px;
  left: 320px;
  width: 1282px;
  height: 60px;
}
.div309 {
  top: 60px;
  left: 0;
  width: 1920px;
  height: 100px;
  font-size: var(--font-size-xl);
}
.div287 {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1100px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--white);
  font-family: var(--font-inter);
}
