{% extends 'base.html' %}

{% block title %}
Готовые работы
{% endblock %}

{% block body %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/finished-works.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap"
    />
  </head>

<style>
body {
  background-image: linear-gradient(to bottom, #485563, #29323c);
  color: #fff;
}
</style>


    <div class="div153">
      <div class="div154">
        <div class="div155">Готовые работы</div>
        <div class="div156">
          Мы регулярно оповещаем жильцов о всех работах, которые будут
          проводиться или будут проведены в их доме. На данной странице вы
          можете подробнее узнать о проводимых работах и посмотреть фотографии и
          видео с места проведения работ.
        </div>
      </div>
      <div class="div157">
        <div class="div158">
          <div class="street">
            <div class="div159">Улица Грибоедова, дом 7</div>
            <div class="div160" id="text3"><a href="/griboyedova7">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/IMG_5354.jpg')}}" />
          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/IMG_5355.jpg')}}" />
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div173">
          <div class="street">
            <div class="div159">Улица Грибоедова, дом 7А</div>
              <div class="div175" id="text3"><a href="/griboyedova7a">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/9f80b3b2-4b6c-490a-8051-1327d30997f5.jpg')}}" />
          </div>
          <div class="div164">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/380dee2d-16d3-4102-997d-94a1d1286e8c.jpg')}}" />
          </div>
          <div class="div167">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/be885f9f-0808-42ef-902e-b35dbc8a0365.jpg')}}" />
          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/fad06e88-1623-4544-92e2-1353ead32e14.jpg')}}" />
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div188">
          <div class="street">
            <div class="div159">Улица Емлютина, дом 38</div>
            <div class="div175" id="text3"><a href="/emlyutina38">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-03.heic')}}" />


          </div>
          <div class="div164">


            <div class="div162">Покраска фасада и замена окон в доме</div>
            <div class="div163">30 марта 2022</div>
          </div>
          <div class="div167">


          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-03-1.heic')}}" />
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div203">
          <div class="street">
            <div class="div159">Проспект Ленина, дом 9</div>
            <div class="div175" id="text3"><a href="/lenina9">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/rectangle-364@2x.png')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div164">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/rectangle-3641@2x.png')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div167">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/rectangle-3642@2x.png')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div170">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/rectangle-3643@2x.png')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div218">
          <div class="street">
            <div class="div159">Проспект Станке Димитрова, дом 57</div>
            <div class="div175" id="text3"><a href="/stdmitrova57">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded1.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/407ba9eb-928c-468b-a5f6-503dcac5f0d4.jpg')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div164">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/685f9043-7a3a-4823-8b97-e2f56344583f.jpg')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div167">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/ccbe6e6e-83c0-4cee-b9c9-6b5ba0fabd91.jpg')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/685f9043-7a3a-4823-8b97-e2f56344583f.jpg')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div233">
          <div class="street">
            <div class="div159">Проспект Станке Димитрова, дом 53</div>
            <div class="div175" id="text3"><a href="/stdmitrova53">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>
              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded2.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-03-43.heic')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div164">
<!--            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/IMG_20230410_114928.jpg')}}" />-->

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div167">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/IMG_20230410_114928.jpg')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-03-43-1.heic')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <img class="line-icon" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
        </div>
        <div class="div248">
          <div class="street6">
            <div class="div159">Переулок Фокина, дом 4</div>
            <div class="div175" id="text3"><a href="/fokina4">Смотреть все -&gt;</a></div>
            <div class="icon4">
              <div class="icon-child"></div>



              <img
                class="material-symbolshouse-rounded-icon"
                alt=""
                src="{{ url_for('static', filename= 'img/materialsymbolshouserounded1.svg')}}"
              />
            </div>
          </div>
          <div class="div161">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04.heic')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div164">


<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div167">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04-1.heic')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
          <div class="div170">
            <img class="child29" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04-2.heic')}}" />

<!--            <div class="div162">Покраска фасада и замена окон в доме</div>-->
<!--            <div class="div163">30 марта 2022</div>-->
          </div>
        </div>
      </div>



<!--<div class="container py-3" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">-->
<!--<h1>Награды</h1>-->

<!--<div class="my-3 p-3">-->
<!--<a href="https://drive.google.com/uc?export=download&id=1ZcMzeMMuIXHbgjPQqLLeQBErVqNsfoB4">Скачать документ о лицензии</a>-->
<!--</div>-->

{% endblock %}