{% extends 'base.html' %}

{% block title %}
Документы
{% endblock %}

{% block body %}

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/documents.css') }}" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap"
  />
</head>

<style>
body {
  background-image: linear-gradient(to bottom, #485563, #29323c);
  color: #fff;
}
</style>

<div class="div369">
  <div class="div370">
    <div class="div371">Перечень многоквартирных домов</div>
    <div class="div372">
      В этом блоке можно разместить информацию о вашей компании, сказать о
      том какие вы классные и почему стоит выбрать именно вас. Здесь можно
      указать самые важные моменты, которые точно останутся в памяти
      читателя. Чтобы посетитель сайта не заскучал и точно дочитал этот блок
      до конца, он расчитан всего на 4 строки.
    </div>
  </div>
  <div class="div373">
    <div class="child81"></div>
    <div class="div374">
      <div class="line-div"></div>
      <div class="doc">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />

        <div class="div375">
  <a href="https://drive.google.com/file/d/11DPxpN8cWlzk0sXIBoRIv4cU8M9FVe0M">Решение ГЖИ Грибоедова 7</a>
</div>

      </div>
      <div class="street7">
        <div class="div376">
          Улица Грибоедова, дом 7</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <img class="child82" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />
    </div>
    <div class="div377">
      <div class="child83"></div>
      <div class="doc1">
        <img
          class="ggloadbar-doc-icon"
          alt=""
         src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />

        <div class="div375" >
          <a href="https://drive.google.com/file/d/1fehCIYFrv8u-XcNCmcDFRbFBvRUllpz8">Решение ГЖИ Грибоедова 7А</a>
        </div>
      </div>
      <div class="street8">
        <div class="div376">Улица Грибоедова, дом 7А</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <div class="child84"></div>
    </div>
    <div class="div380">
      <div class="child83"></div>
      <div class="doc2">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />
        <div class="div375"><a href="https://drive.google.com/file/d/1blcFMOhQHJ_yYaqoyU52xhpz_7U0pnRI">Решение ГЖИ Емлютина 38</a></div>
      </div>
      <div class="street9">
        <div class="div376">Улица Емлютина, дом 38</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <div class="child84"></div>
    </div>
    <div class="div383">
      <div class="child83"></div>
      <div class="doc3">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />

        <div class="div375"><a href="https://drive.google.com/file/d/1Rvplahi-km7NL3H74sbGaqOb8PIydKRQ">Решение ГЖИ Ленина 9</a></div>
      </div>
      <div class="street10">
        <div class="div376">Проспект Ленина, дом 9</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <div class="child84"></div>
    </div>
    <div class="div386">
      <div class="child83"></div>
      <div class="doc4">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />

        <div class="div375"><a href="https://drive.google.com/file/d/1QNPSZjdjpE4Dp2AVOKz1EizbUbjzpmbr">Решение ГЖИ Станке - Дмитрова 53</a></div>
      </div>
      <div class="street11">
        <div class="div376">Проспект Станке Димитрова, дом 53</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <div class="child84"></div>
    </div>
    <div class="div389">
      <div class="child83"></div>
      <div class="doc5">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />

        <div class="div375"><a href="https://drive.google.com/file/d/1syAUKy_29zXQTm8FkCidwwaMOMUjLwBt">Решение ГЖИ Станке - Дмитрова 57</a></div>
      </div>
      <div class="street12">
        <div class="div376">Проспект Станке Димитрова, дом 57</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
        </div>
      </div>
      <div class="child84"></div>
    </div>
    <div class="div392">
      <div class="child93"></div>
      <div class="doc6">
        <img
          class="ggloadbar-doc-icon"
          alt=""
          src="{{ url_for('static', filename= 'img/ggloadbardoc.svg')}}"
        />
        <div class="div375"><a href="https://drive.google.com/file/d/1_zgA3iBkNw2OEkbx5RPtlLMwRndnBwx0">Решение ГЖИ Пер. Фокина 4</a></div>
      </div>
      <div class="street13">
        <div class="div376">Переулок Фокина, дом 4</div>
        <div class="icon12">
          <div class="icon-child5"></div>
          <img
            class="material-symbolshouse-rounded-icon7"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolshouserounded3.svg')}}"
          />
            </div>
        </div>
      </div>
  </div>>



<!--<h1>Перечень многоквартирных домов</h1>-->
<!--<div class="container py-3" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px;">-->
<!--</div>-->

<!--<div class="d-flex justify-content-center align-items-center">-->
<!--  <div class="col-md-4 col-sm-12 boxed-inverse" style="background-color: #222; color: #fff; padding: 30px; border-radius: 20px;">-->
<!--    <h2 style="text-align: center;"></h2>-->
<!--    <ul style="list-style-type: none; padding-left: 0;">-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Ул. Грибоедова 7" style="color: #fff; text-decoration: none;">Ул. Грибоедова 7</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Ул. Грибоедова 7а" style="color: #fff; text-decoration: none;">Ул. Грибоедова 7а</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Ул. Емлютина 38" style="color: #fff; text-decoration: none;">Ул. Емлютина 38</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Проспект Ленина д. 9" style="color: #fff; text-decoration: none;">Проспект Ленина д. 9</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Проспект Станке - Димитрова 57" style="color: #fff; text-decoration: none;">Проспект станке Димитрова 57</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Проспект Станке - Димитрова 53" style="color: #fff; text-decoration: none;">Проспект станке Димитрова 53</a></li>-->
<!--      <li style="margin-bottom: 10px;"><a href="https://maps.google.com/?q=Пер Фокина 4" style="color: #fff; text-decoration: none;">Пер Фокина 4</a></li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</div>-->

<!--<p class="tab" >&#173;</p>-->
<!--<div class="container">-->
<!--  <h1 class="text-center my-4">Перечень документов</h1>-->
<!--  <div class="row justify-content-center">-->
<!--    <div class="col-lg-8">-->
<!--      <ul class="list-group">-->
<!--        <li class="list-group-item">-->
<!--<div class="my-3 p-3">-->
<!--    <a href="https://drive.google.com/file/d/11DPxpN8cWlzk0sXIBoRIv4cU8M9FVe0M">Решение ГЖИ Грибоедова 7</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1fehCIYFrv8u-XcNCmcDFRbFBvRUllpz8">Решение ГЖИ Грибоедова 7А</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1blcFMOhQHJ_yYaqoyU52xhpz_7U0pnRI">Решение ГЖИ Емлютина 38</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1Rvplahi-km7NL3H74sbGaqOb8PIydKRQ">Решение ГЖИ Ленина 9</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1syAUKy_29zXQTm8FkCidwwaMOMUjLwBt">Решение ГЖИ Станке - Дмитрова 57</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1QNPSZjdjpE4Dp2AVOKz1EizbUbjzpmbr">Решение ГЖИ Станке - Дмитрова 53</a><br>-->
<!--    <a href="https://drive.google.com/file/d/1_zgA3iBkNw2OEkbx5RPtlLMwRndnBwx0">Решение ГЖИ Пер. Фокина 4</a>-->
<!--</div>-->

{% endblock %}