{% extends 'base.html' %}

{% block title %}
Фокина, дом 4
{% endblock %}

{% block body %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/griboyedov-street.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap"
    />
  </head>

<style>
body {
  background-image: linear-gradient(to bottom, #485563, #29323c);
  color: #fff;
}
</style>

  <body>
    <div class="div107">
      <div class="div108">
        <div class="div109">Улица Фокина, дом 4</div>
        <div class="div110">
          Мы регулярно оповещаем жильцов о всех работах, которые будут
          проводиться или будут проведены в их доме. На данной странице вы
          можете подробнее узнать о проводимых работах и посмотреть фотографии и
          видео с места проведения работ.
        </div>
      </div>
      <div class="div111">
        <div class="div112" id="container1">
          <img class="child20" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04.heic')}}" />

          <div class="div113">
<!--            <p class="p34">Утепление фасада стены кв.70 дома по улице</p>-->
<!--            <p class="p34">Название улицы 170-б</p>-->
          </div>
<!--          <div class="div114">22 октября 2020</div>-->
        </div>
        <div class="div115">
          <img class="child20" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04-1.heic')}}" />

          <div class="div113">
<!--            <p class="p34">Утепление фасада стены кв.70 дома по улице</p>-->
<!--            <p class="p34">Название улицы 170-б</p>-->
          </div>
<!--          <div class="div114">3 декабря 2015</div>-->
        </div>
        <div class="div118">
          <img class="child20" alt="" src="{{ url_for('static', filename= 'img/image-08-05-23-04-04-2.heic')}}" />

          <div class="div113">
<!--            <p class="p34">Утепление фасада стены кв.70 дома по улице</p>-->
<!--            <p class="p34">Название улицы 170-б</p>-->
          </div>
<!--          <div class="div114">21 мая 2006</div>-->
        </div>
        <div class="div121">
<!--          <img class="child20" alt="" src="{{ url_for('static', filename= 'img/rectangle-362@2x.png')}}" />-->

          <div class="div113">
<!--            <p class="p34">Утепление фасада стены кв.70 дома по улице</p>-->
<!--            <p class="p34">Название улицы 170-б</p>-->
          </div>
<!--          <div class="div114">21 мая 2006</div>-->
        </div>
        <div class="div124">
<!--          <img class="child20" alt="" src="{{ url_for('static', filename= 'img/rectangle-362@2x.png')}}" />-->

          <div class="div113">
<!--            <p class="p34">Утепление фасада стены кв.70 дома по улице</p>-->
<!--            <p class="p34">Название улицы 170-б</p>-->
          </div>
<!--          <div class="div114">21 мая 2006</div>-->
        </div>
      </div>
      <div class="div127">
<!--        <div class="child25"></div>-->
<!--        <div class="div128">Показать больше</div>-->
      </div>

    <script>
      var container1 = document.getElementById("container1");
      if (container1) {
        container1.addEventListener("click", function (e) {
          window.location.href = "./component1.html";
        });
      }

      var employeeDatabaseText = document.getElementById("employeeDatabaseText");
      if (employeeDatabaseText) {
        employeeDatabaseText.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }

      var employeeDatabaseText1 = document.getElementById("employeeDatabaseText1");
      if (employeeDatabaseText1) {
        employeeDatabaseText1.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }

      var employeeDatabaseText2 = document.getElementById("employeeDatabaseText2");
      if (employeeDatabaseText2) {
        employeeDatabaseText2.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }

      var employeeDatabaseText3 = document.getElementById("employeeDatabaseText3");
      if (employeeDatabaseText3) {
        employeeDatabaseText3.addEventListener("click", function (e) {
          window.location.href = "./component7.html";
        });
      }

      var employeeDatabaseText4 = document.getElementById("employeeDatabaseText4");
      if (employeeDatabaseText4) {
        employeeDatabaseText4.addEventListener("click", function (e) {
          window.location.href = "./component5.html";
        });
      }

      var container15 = document.getElementById("container15");
      if (container15) {
        container15.addEventListener("click", function (e) {
          window.location.href = "./component8.html";
        });
      }

      var text22 = document.getElementById("text22");
      if (text22) {
        text22.addEventListener("click", function (e) {
          window.location.href = "./component7.html";
        });
      }

      var text23 = document.getElementById("text23");
      if (text23) {
        text23.addEventListener("click", function (e) {
          window.location.href = "./component6.html";
        });
      }

      var text24 = document.getElementById("text24");
      if (text24) {
        text24.addEventListener("click", function (e) {
          window.location.href = "./component5.html";
        });
      }

      var text25 = document.getElementById("text25");
      if (text25) {
        text25.addEventListener("click", function (e) {
          window.location.href = "./component3.html";
        });
      }

      var text26 = document.getElementById("text26");
      if (text26) {
        text26.addEventListener("click", function (e) {
          window.location.href = "./component4.html";
        });
      }
      </script>
{% endblock %}
