{% extends 'base.html' %}

{% block title %}
ООО "ДОМ КЛАССИК"
{% endblock %}

{% block body %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap"
    />
  </head>

    <div class="div">
      <div class="div1">
        <img class="child" alt="" src="{{ url_for('static', filename= 'img/rectangle-6@2x.png')}}" />

        <b class="b">
          <p class="p">Дом Классик</p>
          <p class="p">лучший друг в управлении вашим домом!</p>
        </b>
      </div>



      <div class="div21">
        <img class="icon" alt="" src="{{ url_for('static', filename= 'img/1.svg')}}" />

        <div class="div22">
        </div>
      </div>
      <img class="arrow-icon" alt="" src="{{ url_for('static', filename= 'img/arrow-1.svg')}}" />

            <div class="div21">
        <img class="icon" alt="" src="./public/1.svg" />

        <div class="div22">

<p style="font-size: larger; font-weight: bold;">Уважаемые собственники!</p>
  <p style="font-size: larger; font-weight: bold;">Предлагаем Вам сменить действующую управляющую компанию на управляющую компанию ООО «Дом Классик»</p>
  <p>Мы сможем сделать из вашего многоквартирного дома уютное место, в котором хочется жить, а не существовать.</p>
  <p>Наша компания родилась благодаря небезразличным жильцам. Наш опыт управления, содержания, обслуживания и благоустройства осуществляются профессионалами своего дела. Мы поддерживаем чистоту и порядок, проводим техническое обслуживание, а также развиваем вашу территорию, меняя старое детское оборудование на безопасные современные конструкции, отвечающие российским стандартам.</p>
  <p>ООО «Дом Классик» гарантирует выполнение на доме следующих видов работ по текущему ремонту:</p>
          <ul>
    <li> Косметический ремонт подъездов;</li>
            <li> Наружный косметический ремонт входов в подъезды и
ремонт цоколя;</li>
<li> Установка новой детской/спортивной площадки или ремонт
имеющихся;</li>
<li> Установка светильников перед входом в подъезды с датчиком света;</li>
<li> Установка новых светильников и выключателей в подъездах; </li>
            <li> Покраска газовой трубы; </li>
            <li> Наведение порядка на дворовой территории и его поддержка; </li>
<li> Подготовка дома к отопительному сезону (ревизия, промывка, опрессовка). </li>



    <div class="div421">
      <div class="div422">
        <div class="div423"></div>
      </div>
      <div class="div425">
        <div class="child98"></div>
        <div class="div426">
          <img class="child99" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <div class="div427">
            <div class="div428">Полное наименование</div>
            <div class="div429">
              ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ “ДОМ КЛАССИК”
            </div>
          </div>
          <div class="div430">
            <div class="div431">Вид деятельности</div>
            <div class="div429">
              <p class="p48">
                Основной (по коду ОКВЭД РЕД 2) : 62.32 - управление недвижимым
                имуществом
              </p>
              <p class="p48">за вознаграждение или на договорной основе</p>
            </div>
          </div>
        </div>
        <div class="div433">
          <img class="child99" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <img class="child101" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <div class="div434">
            <div class="div435">Сокращенное наименование</div>
            <div class="div436">ООО “ДОМ КЛАССИК”</div>
          </div>
          <div class="div437">
            <div class="div438">Адрес места нахождения</div>
            <div class="div429">
              Должкина Светлана ПетровнаГ. Брянск, ул. Советская, д.93, помещение 2, 241050
            </div>
          </div>
        </div>
        <div class="div440">
          <img class="child99" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <img class="child103" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <div class="div441">
            <div class="div435">Вид организации</div>
            <div class="div443">Управляющая компания</div>
          </div>
          <div class="div444">
            <div class="div445">Исполнительный директор</div>
            <div class="div429">ㅤㅤㅤㅤㅤㅤДолжкина Светлана Петровна</div>
          </div>
        </div>
        <div class="div447">
          <img class="child104" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <img class="child105" alt="" src="{{ url_for('static', filename= 'img/line-4.svg')}}" />

          <div class="div448">
            <div class="div449">Статус</div>
            <div class="div429">
              Действующая организация (дата регистрации 22.12.2020)
            </div>
          </div>
          <div class="div451">
            <div class="div435">Руководитель организации</div>
            <div class="div453">Алдошин Юрий Валентинович</div>
          </div>
        </div>
      </div>

        <div class="div322">
          <div class="div323">
            <div class="child70"></div>
            <div class="child71"></div>
            <img
              class="material-symbolsphone-android-icon"
              alt=""
              src="{{ url_for('static', filename= 'img/materialsymbolsphoneandroidrounded.svg')}}"
            />
            <div class="domklassikbkru">+7 (920) 852-04-00 </div>
          </div>
          <div class="div325">
            <div class="child70"></div>
            <div class="child71"></div>
            <img
              class="material-symbolsphone-android-icon"
              alt=""
              src="{{ url_for('static', filename= 'img/icoutlineemail.svg')}}"
            />
            <div class="domklassikbkru">dom.klassik@bk.ru</div>
          </div>
          <div class="div326">
            <div class="child70"></div>
            <div class="child71"></div>
            <img
              class="material-symbolsphone-android-icon"
              alt=""
              src="{{ url_for('static', filename= 'img/materialsymbolsphoneintalk.svg')}}"
            />

            <div class="domklassikbkru">+7 (483) 230-70-41</div>
          </div>
          <div class="div328">
            <div class="child70"></div>
            <div class="child71"></div>
            <img
              class="material-symbolsphone-android-icon"
              alt=""
              src="{{ url_for('static', filename= 'img/materialsymbolspermphonemsgrounded.svg')}}"
            />

            <div class="domklassikbkru">311-311</div>
          </div>
          <div class="div330">Телефон руководителя:</div>
          <div class="div331">Телефон организации:</div>
          <div class="div332">Телефон аварийной службы:</div>
          <div class="div333">Наша почта:</div>
        </div>



<!--    <div class="div">-->
<!--      <div class="div1">-->
<!--        <img class="child" alt="" src="{{ url_for('static', filename= 'img/rectangle-6@2x.png')}}" />-->
<!--        <b class="b">-->
<!--          <p class="p">Дом Классик</p>-->
<!--          <p class="p">лучший друг в управлении вашим домом!</p>-->
<!--        </b>-->
<!--      </div>-->
<!--      <div class="div2">-->
<!--        <div class="div4">-->
<!--          <div class="div5">-->
<!--          </div>-->
<!--          <div class="div6">-->
<!--          </div>-->
<!--          <div class="div7">-->
<!--          </div>-->
<!--        </div>-->
<!--</div>-->
<!--<div class="div14">-->
<!--  <div class="div15" style="background-color: #F0E5D9; color: #3D3D3D; font-size: 24px; font-weight: bold; padding: 10px; border-radius: 10px;">Немного важных цифр</div>-->
<!--  <div class="div16" style="background-color: #F0E5D9; color: #3D3D3D; font-size: 20px; padding: 20px; border-radius: 10px; margin-top: 1px; width: 900px;">-->
<!--    <div class="rectangle-div" style="width: 380px; height: 80px;"></div>-->
<!--    <div class="child6"></div>-->
<!--    <div class="child7"></div>-->
<!--    <div class="child8"></div>-->
<!--    <div class="div17" style="padding: 10px;">-->
<!--      <p class="p" style="font-size: 36px; font-weight: bold;">-->
<!--        <b>15</b>-->
<!--      </p>-->
<!--      <p class="p19">лет работаем</p>-->
<!--    </div>-->
<!--    <div class="div18" style="padding: 10px;">-->
<!--      <p class="p" style="font-size: 36px; font-weight: bold;">-->
<!--        <b>24</b>-->
<!--      </p>-->
<!--      <p class="p19">дома обслуживаем</p>-->
<!--    </div>-->
<!--    <div class="div19" style="padding: 10px;">-->
<!--      <p class="p" style="font-size: 36px; font-weight: bold;">-->
<!--        <b>100+</b>-->
<!--      </p>-->
<!--      <p class="p19">сотрудников в штате</p>-->
<!--    </div>-->
<!--    <div class="div20" style="padding: 10px;">-->
<!--      <p class="p" style="font-size: 36px; font-weight: bold;">-->
<!--        <b>3500</b>-->
<!--      </p>-->
<!--      <p class="p19">человек нам доверяют</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--      <div class="div21">-->
<!--        <img class="icon" alt="" src="{{ url_for('static', filename= 'img/1.svg')}}" />-->
<!--        <div class="div22">-->
<!--        </div>-->
<!--      </div>-->
<!--      <img class="arrow-icon" alt="" src="{{ url_for('static', filename= 'img/arrow-1.svg')}}" />-->
<style>
body {
  background-image: linear-gradient(to bottom, #485563, #29323c);
  color: #fff;
}

{% endblock %}

