{% extends 'base.html' %}

{% block title %}
Лицензия
{% endblock %}

{% block body %}

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/license.css') }}" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Mulish:wght@800&display=swap"
    />
  </head>

<style>
body {
  background-image: linear-gradient(to bottom, #485563, #29323c);
  color: #fff;
}
</style>

  <div class="div287">
    <div class="div288">
      <div class="div289">Лицензия</div>
      <div class="div290">
        Вы можете в любой момент скачать и ознакомиться с нашей лицензией.
      </div>
      <div class="div291">
        <div class="div292">
          <div class="child65"></div>
          <div class="child66"></div>
          <img
            class="material-symbolsdownload-icon"
            alt=""
            src="{{ url_for('static', filename= 'img/materialsymbolsdownload.svg')}}"
          />

          <div class="div293"><a href="https://drive.google.com/uc?export=download&id=1ZcMzeMMuIXHbgjPQqLLeQBErVqNsfoB4">Скачать документ</a></div>
        </div>
      </div>
    </div>


{% endblock %}